@font-face {
    font-family: 'Neuton Regular';
    src: url(./Neuton-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #F5F3EA;
    
    border-bottom: 1px solid black;

}
#nav{
    height: 20%;
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
   
}
#nav h2{
    margin-left: 1%;
    font-family: 'Neuton Regular';
    font-size: 35px;
    font-weight: 1000;
}
#nav2{
    display: flex;
    align-items: center;
    gap: 40px;
}
#nav2 h4{
    font-weight: 500;
    font-size: 16px;
}
#nav3{
    margin-right: 3%;
    display: flex;
    align-items: center;
    
}
#nav3 button{
    padding: 13px 20px;
    border: none;
    background-color: #151B31;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}
#nav3 h4{
    padding-right: 25px;
    font-size: 16px;
    font-weight: 100;
    color: #FF5858;
}
#nav3 i{
    padding-right: 20px;
    font-size: 20px;
    margin-bottom: 3px;
    transition: all ease 0.5s;
}
#nav3 i:hover{
    color: #FF5858;
}
#menu{
    height: 100vh;
    width: 61vw;
    background-color: white;
    z-index: 200;
    position: absolute;
    top: 0;
    display: flex;
    align-items: top;
    justify-content: space-between;
    left: -100%;
    transition: all ease 0.3s;
}
#menu h2{
    margin-left: 4%;
    font-family: 'Neuton Regular';
    font-size: 35px;
    font-weight: 100;
    color: #1b2444;
}
#menu span{
    color: #FF5858;
    font-family: 'Neuton Regular';
    font-size: 45px;
    letter-spacing: -5px;
    
}
#menu i{
    
    font-size: 35px;
    margin-top: 18px;
    margin-right: 10px;
    
}
#mem{
    height: 40%;
    width: 100%;
    position: absolute;
    top: 15%;

}
.mau{
    width: 100%;
    height: 17%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mau h4{
    padding-left: 3%;
    font-weight: 100;
    font-size: 16px;
    color: #5c5b5b;
    
}
.mau h4:hover{
    color: #FF5858;
}
#mem .mau i{
    font-size: 22px;
    margin-top: 0;
    font-weight: 800;
}
#nav span{
    color: #FF5858;
    font-family: 'Neuton Regular';
    font-size: 45px;
    
}
#cen{
   
    height: 40%;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
#cen h1{
    font-size: 5vw;
    font-family: 'Neuton Regular';
    word-spacing: 15px;
    letter-spacing: 5px;
    line-height: 80px;
    color: #151B31;
    
}
#cen h4{
    line-height: 60px;
    font-size: 18px;
    font-weight: 100;
    color: #1b2444;
}
#cen h1 span{
    color: #FF5858;
    letter-spacing: 5px;
}
img{
    height: 100vh;
    width: 80%;
    margin-top: 30%;
    margin-left: 10%;
    
    
}
#nav3 #men{
    display: none;
}

#page2{
    min-height:100vh ;
    width: 100%;
    background-color: #F5F3EA;
}
#nad{
    height: 30vh;
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#nad h1{
    font-family: 'Neuton Regular';
    font-size: 4vw;
    line-height: 100px;
    letter-spacing: 3px;
    color: #151B31;
    padding-top: 100px;
}
#nad p{
    text-align: center;
    font-size: 1.3vw;
    font-weight:100;
    color: #6D6F75;
    line-height: 20px;
    letter-spacing: 1px;
}
#nad2{
    margin-top: 60px;
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}
.elem{
    height: 90vh;
    width: 30%;
    border-radius: 5px;
    margin: 30px 20px;
   transition: all ease 0.3s;
}
.elem:hover{
    background-color: #FFB07B;
    
}
.elem img{
    margin-top: 5px;
    margin-left: 5px;
    width: 97%;
    height: 87%;
    border-bottom: 3px solid #151B31;
    border-right:3px solid #151B31;
    border-left: 1px solid #151B31;
    border-top:1px solid #151B31 ;
    border-radius: 5px;
    
}
.elem:hover img{
    filter: grayscale();
}
.elem h3{
    font-family: 'Neuton Regular';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding-top: 15px;
    letter-spacing: 3px;
    
}
.elem:hover h3{
    color: white;
}
#nad3{
    height: 30vh;
    width: 100%;
  
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#nad3 h2{
    color: #151B31;
    font-family: 'Neuton Regular';
    font-size: 4vw;
    margin-top: 0;
    line-height: 80px;
    letter-spacing: 3px;
}
#nad3 p{
    color: #5c5b5b;
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
}
@media(max-width: 600px){
    
    #nav2 h4{
        display: none;
    }
    #cen h1{
        font-size: 10vw;
        line-height: 50px;
        margin-top: 0;
        
    }
    #cen p{
        font-size: 4vw;
        margin-top: 10px;
    }
    #cen{
        width: 100vw;
        padding-top: 25px;
        
        
    }
    #nav3 button{
        display: none;
    }
    #nav3 h4{
        display: none;
    }
    img{
        height: 40vh;
        width: 100%;
        margin-left: 0;
        margin-top: 100%;
        
    }
    #nav3 #men{
        display: block;
    }
    #nad h1{
        font-size:9vw ;
        padding-bottom: 5%;
        text-align: center;
        line-height: 40px;
        
        
    }
    #nad p{
        font-size: 3.5vw;
    }
    .elem{
        height: 80vh;
        width: 70vh;
    }
    #nad3 h2{
        font-size:8vw
    }
    #nad3 p{
        font-size: 3.5vw; 
    }
}